<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <title>Cars</title>
</head>
<body>
    <div class="container">
        <h1>Buy one of these!</h1>
        {% if cars is not empty %}
            <ul>
                {% for car in cars %}
                    <li>{{ car.getModel }}</li>
                    <li>{{ car.getPrice }}</li>
                    <li>{{ car.getMiles }}</li>
                    <li><img src='{{ car.getImage }}' width='120px'></li>
                {% endfor %}
            </ul>
        {% endif %}
        <h1>Sell your clunker!</h1>
        <form action="/create" method="post">
            <div class="form-group">
                <label for="make-model">What kinda car?</label>
                <input type="text" name="make-model" id="make-model">
            </div>
            <div class="form-group">
                <label for="price">How much beans you want?</label>
                <input type="text" name="price" id="price">
            </div><div class="form-group">
                <label for="mileage">How many miles?</label>
                <input type="text" name="mileage" id="mileage">
            </div>
            <div class="form-group">
                <label for="image">Show us your pics</label>
                <input type="text" name="image" id="image">
            </div>
            <button type="submit" name="button">VROOOOM!</button>
        </form>

    </div>
</body>
</html>
