<html>
<head>
    <title>Here's yr post!</title>
</head>
<body>
    <h1>Here's your car!</h1>
    <h3>{{ newcar.getModel }}</h3>
    <ul>
        <li>${{ newcar.getPrice }}</li>
        <li>{{ newcar.getMiles }} miles</li>
    </ul>
    <p><img src='{{ newcar.getImage }}' width='120px'></p>
    <p><a href='/'>Take me back to the home land!s</a></p>
</body>
</html>
