<html>
<head>
    <title>Here's yr post!</title>
</head>
<body>
    <h1>Here's your car!</h1>
    <ul>
        <li>{{ newcar.getModel }}</li>
        <li>{{ newcar.getPrice }}</li>
        <li>{{ newcar.getMiles }}</li>
        <li><img src='{{ newcar.getImage }}' width='120px'></li>
    </ul>
    <p><a href='/'>Take me back to the home land!s</a></p>
</body>
</html>
